.App {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #111;

    input {
        margin: 10px 0;
        padding: 18px 24px;
        border-radius: 10px;
        border: 2px solid black;
    }

    button {
        margin-top: 5px;
    }
}